style
  :sass
    // звездочка справа вверху
    input[name='star'] {
      display: none;
      & + span:before { font-family: FontAwesome; }
      & + span:before { content: "\f006" }
      &:checked + span:before { content: "\f005"; color: yellow }
    }

.navbar.navbar-default.navbar-fixed-top
  button.navbar-toggle(
    type='button'
    data-toggle='offcanvas'
    data-recalc='false'
    data-target='.navmenu'
    data-canvas='.canvas')
    i.fa.fa-leanpub
    //- span.icon-bar
  .navbar-brand Записная книжка

  ul.nav.nav-pills.pull-right

    //- li.search.navbar-inverse
      //a(href='#search')
      i.fa.fa-search(style="left: 15px; top: 13px;position: absolute;z-index:4")
      input(type="search", name="text", class="form-control")
    //- li.dropdown
      a.dropdown-toggle(aria-expanded='false', data-toggle='dropdown', href='#')
        i.fa.fa-sort-amount-asc
        span &nbsp; Сортировать &nbsp;
        //- span.caret
      ul#dropdown.dropdown-menu
        li.disabled: a(href='#') Сортировать по имени
        li: a(href='#') Сортировать по фамилии
        li: a(href='#') Сортировать по городу
    //- li: a(href='/favorite')
      label
        input(type='checkbox' name='star')
        span  &nbsp; Favorite &nbsp;

    li: a(href='/create')
      i.fa.fa-user-plus
      span &nbsp; Добавить &nbsp;
    //-li.dropdown
      a.dropdown-toggle(aria-expanded='false', data-toggle='dropdown', href='#')
        i.fa.fa-ellipsis-v
      ul.dropdown-menu
        li: a(href='#') Action
        li: a(href='#') Another action
        li: a(href='#') Something else here
        li.divider
        li: a(href='#') Separated link
