//- картинка с плейсхолдером
- var placeholder = 'images/avatars/placeholder.gif'

.modal-dialog
  .modal-content
    .modal-header
      button.close(type='button' name='back'): i.fa.fa-arrow-left
      .modal-title: .nav
        button.close(type='button' name='update'): i.fa.fa-check

    form.modal-body(name='creat' action='/contact' method='PUT')
      .col-xs-12.modal-header Имя
      .row
        .col-xs-9(style='padding-left:0;padding-right:0')
          mixin name(name, placeholder, className)
            .input-group
              span.input-group-addon: i.fa(class=className).fa-fw
              input.form-control( type="text" placeholder=placeholder name=name value='{{ #{name} }}')
              span.input-group-addon: button(type='button' name='clean'): i.fa.fa-times
          +name('name', 'Name', 'fa-user')
          +name('surname', 'Surname', 'fa-user')
          +name('patronymic', 'Patronymic', 'fa-user')
          +name('nickname', 'Nickname', 'fa-user-secret')

        .col-xs-3.image
          a(href='/avatar')
            div.triangle
            img(src=placeholder class='{{ avatar }}')

      .col-xs-12.modal-header Телефон
      | {= var Phones = (phones) ? phones : [''] }}
      | {= _(Phones).each(function (item) { }}
      .input-group
        span.input-group-addon: i.fa.fa-phone-square.fa-fw
        input.form-control(type="tel" name='phones[]' placeholder="phone" value='{{ item }}')
        span.input-group-addon: button(type='button' name='delete'): i.fa.fa-times
      | {=  }) }}
      button(type='button' name='clone') Добавить

      .col-xs-12.modal-header Эл. почта
      | {= var Emails = (emails) ? emails : ['']; }}
      | {= _(Emails).each(function (item) { }}
      .input-group
        span.input-group-addon: i.fa.fa-envelope.fa-fw
        input.form-control(type="email" name='emails[]' placeholder="email" value='{{ item }}')
        span.input-group-addon: button(type='button' name='delete'): i.fa.fa-times
      | {=  }) }}
      button(type='button' name='clone') Добавить

      .col-xs-12.modal-header Адрес
      a.input-group(href='/location')
        span.input-group-addon: i.fa.fa-map-marker.fa-fw
        p.form-control-static {{ location }}
        span.input-group-addon: button(type='button' name='clean'): i.fa.fa-times

      .col-xs-12.modal-header Дата
      .input-group
        span.input-group-addon: i.fa.fa-calendar.fa-fw
        input.form-control(type="date" name='date' placeholder="date" value='{{ date }}')
        span.input-group-addon: button(type='button' name='clean'): i.fa.fa-times

      .col-xs-12.modal-header Группа
      a.input-group(href='/group')
        span.input-group-addon: i.fa.fa-users.fa-fw
        p.form-control-static
          | {= _(groups).each(function (item) { }}
          span.label.label-success {{ item }}
          | &nbsp;
          | {=  }) }}
